@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  
  .glass-card-light {
    @apply bg-white/70 backdrop-blur-md border border-white/50 shadow-xl;
  }
}
